@model IEnumerable<Negocio.ViewModel.ClienteViewModel>

@{
    ViewBag.Title = "Lista de Cotação";
}

<h2>Lista de Cotação</h2>

<p>
    @Html.ActionLink("Nova Cotação", "Index")
</p>
<table class="table">
    <tr>
        <th>
            Nome
        </th>
        <th>
            CPF
        </th>
        <th>
            Email
        </th>
        <th>
            Telefone
        </th>
        <th>
            Endereço
        </th>
        <th>
            Bairro
        </th>
        <th>
            Cidade
        </th>
        <th>
            Estado
        </th>
        <th>
            Carro
        </th>
        <th>
            Cobertura
        </th>
        <th>
            Valor
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CPF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bairro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Carro.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cobertura.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cobertura.Valor)
        </td>
    </tr>
}

</table>
